:host {
  position: sticky;

  width: 100%;
  height: 5%;

  background-color: #ffbbff;
  opacity: 60%;

  transition: height 0.75s;

  display: flex;
  flex-direction: row;
  align-items: center;

  app-nav-button {
    color:#440060;
  }



  &:hover {
    opacity: 100%;
    background-color: #440060;
    height: 10%;

    #MOTD {
        color: pink;
    }

    app-nav-button {
      color:#ffbbff;
    }
  }
}

app-search-bar {
  padding-left: 30%;
  height: fit-content;
}

#MOTD {
  padding-left: 2%;
}

@media (max-width: 600px) {
  #MOTD {
    display: none;
  }
}

