.nav-button {
    margin-left: 50px;
    padding: 3px 10px;

    user-select: none;
    cursor: pointer;

    border: solid;
    border-color:transparent;
    border-radius: 20px;

    color: inherit;
    font-weight: bold;
    font-family: "Playfair Display rev=1";
    background-color: inherit;

    transition: background-color 0s;

    font-size: large;

    &:hover {
        color: #440060;
        background-color: #ffbbff;
        transition: background-color 0.5s ease-in-out;
    }
}

.button-hightlight {
  border: solid;
  border-color: #440060;
}
